# Node modules
/node_modules/

# Electron build artifacts (if you ever bundle)
/dist/
/build/

# FFmpeg HLS output
/hls/

# Logs
logs/
*.log
npm-debug.log*

# OS / editor cruft
.DS_Store
.vscode/
.idea/

# Environment files
.env
.env.*.local

# Misc caches & coverage
.coverage/
.nyc_output/
.cache/
.parcel-cache/

# TypeScript build cache
*.tsbuildinfo

# Electron API defs
electron-api.json
electron.d.ts
